body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

h1 {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

h2 {
    margin-top: 20px;
}

table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

th, td {
    padding: 10px;
    text-align: center;
}

th {
    background-color: #333;
    color: #fff;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:nth-child(odd) {
    background-color: #ddd;
}

button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    margin-right: 5px;
}

button:hover {
    background-color: #555;
}

form {
    width: 80%;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label, input, select {
    display: block;
    margin: 10px 0;
}

input[type="text"], input[type="password"] {
    width: 95%;
    padding: 10px;
}

input[type="radio"] {
    margin: 5px 5px 5px 0;
}

select {
    width: 100%;
    padding: 10px;
}

button[type="submit"] {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

button[type="CTA"] {
    background-color: #0e572f;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin-right: 10px;
}

button[type="submit"]:hover {
    background-color: #555;
}

.blocking {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.something {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}